@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

.lawyer {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: ease-in;
  }
  .nav-bar {
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 1500px;
  }
  .rectangle-4137 {
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    background-position: center;
    background: url("https://static.overlay-tech.com/assets/85c5ae0a-3153-486f-8f83-76bca7cfee20.png"),
      rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    border-radius: 100px;
  }
  .title {
    font-family: 'Mooli', sans-serif;;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    color: rgba(0, 0, 0, 1);
    flex: 1;
    margin-right: 20px;
  }
  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  .navigation {
    background-color: rgba(255, 255, 255, 1);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tab {
    font-family: 'Mooli', sans-serif;;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    margin-right: 40px;
  }
  .textfield {
    border-radius: 6px;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 184px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .text {
    font-family: 'Mooli', sans-serif;;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    flex: 1;
    margin-right: 4px;
  }
  .ic-search {
    padding: 1.67px 1.35px 1.37px 1.67px;
    display: flex;
    align-items: center;
    width: 16.98px;
    height: 16.96px;
  }
  .shape {
    width: 100%;
    align-self: stretch;
    object-fit: cover;
  }
  .sidebar-container {
    display: flex;
    align-items: flex-start;
  }
  .sidebar {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    align-self: stretch;
  }
  .item {
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
  }
  .frame {
    background-color: rgba(0, 0, 0, 0.05);
    margin-right: 12px;
    border-radius: 12px;
    padding: 6px 5px 5px 6px;
    display: flex;
    align-items: center;
    width: 13px;
    height: 13px;
  }
  .image-side {
    width: 13px;
    height: 13px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .title-two {
    font-family: 'Mooli', sans-serif;;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
    flex: 1;
  }
  .hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .section {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 60px 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
  }
  .hero-container {
    margin-bottom: 60px;
    padding: 0 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  .title-three {
    width: 520px;
    font-family: 'Mooli', sans-serif;;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-bottom: 24px;
  }
  .description {
    width: 520px;
    font-family: 'Mooli', sans-serif;;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-bottom: 24px;
  }
  .textfield-two {
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
    border-radius: 6px;
    padding: 7px 11px;
    display: flex;
    align-items: center;
    align-self: stretch;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .text-two {
    font-family: 'Mooli', sans-serif;;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    flex: 1;
  }
  .button {
    margin-bottom: 24px;
    display: flex;
    align-items: flex-start;
  }
  .btn {
    margin-right: 19px;
    border-radius: 8px;
    padding: 2px 40px;
    transition: all 300ms ease;
  }
  .btn:hover{
    cursor: pointer;
    background: rgb(233, 227, 227);
  }
  .btn-1 {
    font-size: 1rem;
    padding: 2px 40px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 1);
    color: rgb(255, 255, 255);
    transition: all 300ms ease;
  }
  .btn-1:hover{
    cursor: pointer;
    background: rgb(38, 37, 37);
  }
  .btn-2 {
    margin-right: 19px;
    border-radius: 8px;
    padding: 11px 52.5px;
    transition: all 300ms ease;
    background-color: rgba(217, 217, 217, 0.5);
  }
  .btn-2:hover{
    cursor: pointer;
    background-color: rgba(217, 217, 217, 0.87);
  }
  .btn-3 {
    font-size: 1rem;
    width: 180px;
    margin-bottom: 5px;
    padding: 2px 40px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
    transition: all 300ms ease;
  }
  .btn-3:hover{
    cursor: pointer;
    background: rgba(38, 37, 37, 0.653);
  }
  .tab-group {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tab-two {
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 6px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 104px;
  }
  .tab-two:not(:last-of-type) {
    margin-right: 12px;
  }
  .title-five {
    font-family: 'Mooli', sans-serif;;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    align-self: stretch;
    text-align: center;
  }
  .vector-200 {
    width: 1220px;
  }
  .section-two {
    padding: 60px 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
  }
  .flex-wrapper-four {
    margin-bottom: 60px;
    padding: 0 0 0 60px;
    display: flex;
    align-items: center;
  }
  .container-three {
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
  }
  .title-eleven {
    font-family: 'Mooli', sans-serif;;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: rgba(0, 0, 0, 1);
    align-self: stretch;
    margin-bottom: 24px;
  }
  .description-three {
    font-family: 'Mooli', sans-serif;;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    align-self: stretch;
    margin-bottom: 24px;
  }
  #caseName{
    width: 400px;
    height: 40px;
    border-radius: 8px;
  }
  .list-two {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  .article {
    border-radius: 6px;
    padding: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .article:not(:last-of-type) {
    margin-bottom: 40px;
  }
  .image-three {
    background-color: rgba(217, 217, 217, 0.5);
    margin-right: 16px;
    display: flex;
    align-items: flex-start;
    flex: 1;
    align-self: stretch;
  }
  .image-20 {
    width: 100px;
    height: 100px;
  }
  .title-twelve {
    font-family: 'Mooli', sans-serif;;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: rgba(0, 0, 0, 1);
    align-self: stretch;
    margin-bottom: 8px;
  }
  .subtitle-two {
    font-family: 'Mooli', sans-serif;;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    align-self: stretch;
    margin-bottom: 8px;
  }
  .subtitle-three {
    font-family: 'Mooli', sans-serif;;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    align-self: stretch;
    margin-bottom: 8px;
  }
  .selection {
    padding: 4px 0;
    display: flex;
    align-items: center;
    align-self: stretch;
  }
  .selection:not(:last-of-type) {
    margin-bottom: 8px;
  }
  .label-normal {
    background-color: rgba(217, 217, 217, 0.5);
    overflow: hidden;
    border-radius: 2px;
    padding: 1px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .label-text {
    font-family: 'Mooli', sans-serif;;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(0, 0, 0, 1);
  }
  .avatar-two {
    margin-right: 8px;
    display: flex;
    align-items: center;
    flex: 1;
  }
  .avatar {
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-right: 8px;
    border-radius: 20px;
  }
  .title-thirteen {
    width: 312px;
    font-family: 'Mooli', sans-serif;;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
    align-self: stretch;
  }
  .icon-buttons-two {
    width: 24px;
    height: 24px;
  }
  .user {
    padding: 4px 0;
    display: flex;
    align-items: center;
    align-self: stretch;
  }
  .section-three {
    padding: 30px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 594px;
    width: 1220px;
  }
  .container-four {
    padding: 0 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title-fourteen {
    max-width: 520px;
    font-family: 'Mooli', sans-serif;;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    margin-bottom: 24px;
  }
  .input {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .title-fifteen {
    font-family: 'Mooli', sans-serif;;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
    align-self: stretch;
    margin-bottom: 4px;
  }
  .textfield-three {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 6px;
    padding: 7px 11px;
    display: flex;
    align-items: center;
    align-self: stretch;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .input-two {
    margin-bottom: 108px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .vector-200-two {
    align-self: stretch;
    object-fit: cover;
  }
  .title-sixteen {
    width: 520px;
    font-family: 'Mooli', sans-serif;;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: rgba(0, 0, 0, 1);
    align-self: stretch;
    margin-right: 60px;
  }
  .list-three {
    padding: 20px 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
  }
  .document-item {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 350px;
    width: 300px;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .docuement-item:not(:last-of-type) {
    margin-right: 40px;
  }
  .frame-five {
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    border-radius: 50px;
    padding: 16px 10px 15px 11px;
    display: flex;
    align-items: center;
    height: 69px;
    width: 79px;
  }
  .image-19 {
    width: 79px;
    height: 69px;
    border-radius: 20px;
  }
  .document-article {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
  }
  .title-nineteen {
    font-family: 'Mooli', sans-serif;;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(0, 0, 0, 1);
    align-self: stretch;
    text-align: center;
    margin-bottom: 8px;
  }
  .subtitle-four {
    font-family: 'Mooli', sans-serif;;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
    align-self: stretch;
    text-align: center;
  }
  .subtitle-five {
    font-family: 'Mooli', sans-serif;;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    color: rgba(0, 0, 0, 1);
    align-self: stretch;
    text-align: center;
  }
  .section-four {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 60px 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
  }
  .flex-wrapper-seven {
    margin-bottom: 40px;
    padding: 0 0 0 60px;
    display: flex;
    align-items: center;
  }
  .avatar-five {
    background-color: rgba(217, 217, 217, 0.5);
    margin-right: 40px;
    overflow: hidden;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    position: relative;
  }
  .image-17 {
    width: 103px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
  }
  .container-five {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  .title-twenty {
    font-family: 'Mooli', sans-serif;;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: rgba(255, 255, 255, 1);
    align-self: stretch;
    margin-bottom: 12px;
  }
  .selection-two {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    align-self: stretch;
  }
  .label-normal-two {
    background-color: rgba(217, 217, 217, 0.5);
    overflow: hidden;
    border-radius: 2px;
    padding: 1px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .label-normal-two:not(:last-of-type) {
    margin-right: 6px;
  }
  .description-four {
    font-family: 'Mooli', sans-serif;;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    align-self: stretch;
  }
  .container-two {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  .title-six {
    width: 520px;
    font-family: 'Mooli', sans-serif;;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    margin-bottom: 24px;
  }
  .list-four {
    padding: 20px 0;
    display: flex;
    align-items: center;
    align-self: stretch;
  }
  .metric {
    overflow: hidden;
    border-radius: 6px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .metric:not(:last-of-type) {
    margin-right: 20px;
  }
  .title-twenty-one {
    font-family: 'Mooli', sans-serif;;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
    align-self: stretch;
    margin-bottom: 4px;
  }
  .data {
    width: 48px;
    font-family: 'Mooli', sans-serif;;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 4px;
  }
  .change {
    width: 39px;
    font-family: 'Mooli', sans-serif;;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
  }
  .change-two {
    width: 26px;
    font-family: 'Mooli', sans-serif;;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
  }
  .change-three {
    width: 30px;
    font-family: 'Mooli', sans-serif;;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
  }
  footer{
    background-color: #535353;
    color: white;
}
.container-1{
    /* max-width: 1300px; */
    width: 100vw;
    /* margin: 0 auto ;
    padding: 10px; */
}
.footer-container{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.link-lists ul{
    list-style: none;
}
.link-lists ul li{
    font-size: 16px;
    margin-bottom: 5px;
}
.link-lists h3{
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}
.news-letter h3{
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}
.news-letter input{
    text-align: center;
    padding: 5px 40px;
    margin-bottom: 10px;
}
.icon-container{
    display: flex;
    gap: 15px;
    font-size: 32px;
}