<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Case Management System</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/js/bootstrap.min.js">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.js') }}">
</head>
<body>
    <div class="landing-page">
        <div class="top-bar">
          <img
            alt=""
            class="rectangle-4137"
            src="https://static.overlay-tech.com/assets/21d24d22-35d4-4566-b8b8-de33cc826f2e.png"
          />
          <p class="title">Pocket Justitia</p>
          <div class="navigation">
            <p class="tab">Home</p>
            <p class="tab">About</p>
            <p class="tab">Contact</p>
            <div class="textfield">
              <p class="text">Search in site</p>
              <div class="ic-search">
                <img
                  alt=""
                  class="shape"
                  src="https://static.overlay-tech.com/assets/2c601b5c-374a-4cfe-bd25-2d03e190a857.svg"
                />
              </div>
            </div>
          </div>
        </div>
        <p class="hero-head">WELCOME TO POCKET JUSTITIA</p>
        <p class="hero-tab">Login as per your designation</p>
        <div class="relative-wrapper-two" >
          <p class="title-three">
            Talk to our A.I. powered chatbot
          </p>
          <div class="hero-container">
            <a href="/cl/">
            <button class="btn">
              <p class="title-four">Civilian</p>
            </button>
            </a>
            <a href="/ll/">
            <button class="btn">
              <p class="title-four">Lawyer</p>
            </button>
            </a>
            <div class="flex-wrapper-four">
              <div class="flex-wrapper-five">
                <a href="/rl/">
                <button class="btn">
                  <p class="title-four">Registrar</p>
                </button>
                </a>
                <a href="/jl/">
                <button class="btn">
                  <p class="title-four">Judge</p>
                </button>
                </a>
              </div>
              <a href="/chatbot/">
              <button class="btn">
                <p class="title-four">Try Now !</p>
              </button>
              </a>
            </div>
          </div>
        </div>
        <div class="relative-wrapper-one">
          <div class="section">
            <div class="flex-wrapper-three">
              <div class="container">
                <p class="title-five">
                  Why Choose Pocket Justitia
                </p>
                <p class="description">
                  What's new ?
                </p>
                <button class="btn-1">
                  <p class="title-six">Learn More</p>
                </button>
              </div>
              <div class="list">
                <div class="article">
                  <div class="image">
                    <img
                      alt=""
                      class="image-8"
                      src="https://static.overlay-tech.com/assets/992afc94-a98f-4643-92bb-5885337ebae8.png"
                    />
                  </div>
                  <div class="flex-wrapper-four">
                    <p class="title-seven">
                      Accurate Legal Advice
                    </p>
                    <p class="subtitle">Subtitle if needed</p>
                    <p class="subtitle-two">
                      Our AI chatbot provides accurate and
                      reliable legal advice for your specific
                      needs.
                    </p>
                    <div class="user">
                      <div class="avatar-two">
                        <div class="avatar"></div>
                        <p class="title-eight">John Doe</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="article">
                  <div class="image-two">
                    <img
                      alt=""
                      class="image-7"
                      src="https://static.overlay-tech.com/assets/0c673455-169a-4e88-99df-d60ad1108e3f.png"
                    />
                  </div>
                  <div class="flex-wrapper-four">
                    <p class="title-seven">24/7 Availability</p>
                    <p class="subtitle-two">
                      Pocket Justina is available round the clock
                      to answer your legal queries.
                    </p>
                    <div class="selection">
                      <div class="label-normal">
                        <p class="label-text">24/7</p>
                      </div>
                    </div>
                    <div class="selection">
                      <div class="avatar-two">
                        <div class="avatar"></div>
                        <p class="title-eight">Jane Smith</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="article">
                  <div class="image-container">
                    <img
                      alt=""
                      class="image-6"
                      src="https://static.overlay-tech.com/assets/ef5b0faf-51d2-4223-be08-ca62e0db89c1.png"
                    />
                    <div class="image-three"></div>
                  </div>
                  <div class="flex-wrapper-four">
                    <p class="title-seven">Easy to Use</p>
                    <p class="subtitle-two">
                      Our user-friendly interface makes it simple
                      for anyone to access legal expertise.
                    </p>
                    <div class="selection">
                      <div class="label-normal-two">
                        <p class="label-text">User-Friendly</p>
                      </div>
                    </div>
                    <div class="selection">
                      <div class="avatar-two">
                        <div class="avatar"></div>
                        <p class="title-eight">John Smith</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <img
              alt=""
              class="vector-200"
              src="https://static.overlay-tech.com/assets/0a7eaf3d-c05c-4eab-9150-46556db60498.svg"
            />
          </div>
          <img
            alt=""
            class="chatbot-removebg-preview-1"
            src="https://static.overlay-tech.com/assets/db2d6e29-3ff9-44ab-b62f-37552b183521.png"
          />
        </div>
        <div class="section-two">
          <div class="container-two">
            <p class="title-nine">E-Portal Services</p>
            <p class="description-two">
              Subtitle or description here
            </p>
            <button class="btn-1">
              <p class="title-six">Explore</p>
            </button>
          </div>
          <div class="e-services">
            <div class="ui-card">
                <img class="service-img"
                src="https://static.overlay-tech.com/assets/81fbb110-7f89-4b62-a7a7-54f24872aff6.png"
                >
                <div class="description">
                    <h3>Case Status</h3>
                    <p>
                        Case Number<br />
                    Case Type<br />
                    Fir Number<br />
                    Case Code<br />
                    Party Name<br />
                    Act<br />
                    Advocate Name
                    </p>
                    <a href="#">Explore</a>
                </div>
            </div>
            <div class="ui-card">
                <img class="service-img"
                src="https://static.overlay-tech.com/assets/81fbb110-7f89-4b62-a7a7-54f24872aff6.png"
                >
                <div class="description">
                    <h3>Case Order</h3>
                    <p>
                        Case Number<br />
                    Party Name<br />
                    Court Number<br />
                    Order Date
                    </p>
                    <a href="#">Explore</a>
                </div>
            </div>
            <div class="ui-card">
                <img class="service-img" 
                src="https://static.overlay-tech.com/assets/81fbb110-7f89-4b62-a7a7-54f24872aff6.png"
                >
                <div class="description">
                    <h3>Cause List</h3>
                    <p>Download Cause List</p>
                    <a href="#">Explore</a>
                </div>
            </div>
          </div>
        </div>
        <div class="news">
            <div class="news-title">
                <p class="title-nine">Latest News and Updates</p>
            </div>
            <div class="blog-card">
                <input type="radio" name="select" id="tap-1" checked>
                <input type="radio" name="select" id="tap-2">
                <input type="radio" name="select" id="tap-3">
                <input type="checkbox" id="imgTap">
                <div class="sliders">
                    <label for="tap-1" class="tap tap-1"></label>
                    <label for="tap-2" class="tap tap-2"></label>
                    <label for="tap-3" class="tap tap-3"></label>
                </div>
                <div class="inner-part">
                    <label for="imgTap" class="img">
                    <img class="img-1" src="{{url_for('static', filename='wooden-gavel-map-india-3d-rendering_808337-10506.jpg')}}">
                    </label>
                    <div class="content content-1">
                    <span>16 September,  2023</span>
                    <div class="title">
                        Lorem Ipsum Dolor
                    </div>
                    <div class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo animi atque aliquid pariatur voluptatem numquam, quisquam. Neque est voluptates doloribus!
                    </div>
                    <button>Read more</button>
                    </div>
                </div>
                <div class="inner-part">
                    <label for="imgTap" class="img">
                    <img class="img-2" src="{{url_for('static', filename='top-view-career-guidance-items-judges_23-2149443469.avif')}}">
                    </label>
                    <div class="content content-2">
                    <span>12 Septembe, 2023</span>
                    <div class="title">
                        Lorem Ipsum Dolor
                    </div>
                    <div class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eos ut consectetur numquam ullam fuga animi laudantium nobis rem molestias.
                    </div>
                    <button>Read more</button>
                    </div>
                </div>
                <div class="inner-part">
                    <label for="imgTap" class="img">
                    <img class="img-3" src="{{url_for('static', filename='closeup-shot-person-writing-book-with-gavel-table_181624-57173.avif')}}">
                    </label>
                    <div class="content content-3">
                    <span>26 August, 2023</span>
                    <div class="title">
                        Lorem Ipsum Dolor
                    </div>
                    <div class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod excepturi nemo commodi sint eum ipsam odit atque aliquam officia impedit.
                    </div>
                    <button>Read more</button>
                    </div>
                </div>
            </div>

        </div>
        <p class="title-ten">Quick Links</p>
        <div class="quick-links">
          <img
            alt=""
            class="court"
            src="https://static.overlay-tech.com/assets/398f8bf1-299e-45ec-a82d-22c9cb73a10d.png"
          /><img
            alt=""
            class="court"
            src="https://static.overlay-tech.com/assets/759dc271-1372-4d62-94d1-48ee6f4865e9.png"
          /><img
            alt=""
            class="court"
            src="https://static.overlay-tech.com/assets/63450fe9-7fd3-4448-95b2-2db06468bd45.png"
          />
        </div>
        <div class="court-name">
            <a href="https://main.sci.gov.in/" class="tab-three">Supreme Court</a>
            <a href="https://main.sci.gov.in/" class="tab-three">High Court</a>
            <a href="https://main.sci.gov.in/" class="tab-three">District Court</a>
        </div>
        
        <footer>
            <div class="footer-container container-1">
                <div class="footer-logo">
                    <img src="images/logo.png" alt="logo">
                </div>
                <div class="link-lists">
                    <h3>Info</h3>
                    <ul>
                        <li>Forms</li>
                        <li>Recruitment</li>
                        <li>Management Tools</li>
                        <li>Associations</li>
                    </ul>
                </div>
                <div class="link-lists">
                    <h3>Explore</h3>
                    <ul>
                        <li>Services</li>
                        <li>Newsletter</li>
                        <li>Site Map</li>
                        <li>Help Videos</li>
                        <li>Manuals</li>
                    </ul>
                </div>
                <div class="link-lists">
                    <h3>Legal</h3>
                    <ul>
                        <li>Terms and Conditions</li>
                        <li>Copyright Policy</li>
                        <li>Privacy Policy</li>
                        <li>Screen Reader Access</li>
                        <li>Disclaimer</li>
                    </ul>
                </div>
            </div>
        </footer>

</body>
</html>