<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar-Page</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='registrar.css') }}">
</head>
<body>
    <div class="registrar">
        <div class="nav-bar">
          <div class="rectangle-4137"></div>
          <p class="title">Pocket Justitia</p>
          <div class="navigation">
            <a href="/" class="tab">Home</a>
            <a href="" class="tab">Meets</a>
            <a href="" class="tab">Cases</a>
            <div class="textfield">
              <p class="text">Search in site</p>
              <div class="ic-search">
                <img
                  alt=""
                  class="shape"
                  src="https://static.overlay-tech.com/assets/f40626e4-7abb-481b-a119-e7839a5f2e72.svg"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar-container">
          <div class="sidebar">
            <div class="item">
              <div class="frame">
                <img
                  alt=""
                  class="image-side"
                  src="https://static.overlay-tech.com/assets/8041ba18-d3e3-4505-a6a7-d0d9f51a0001.png"
                />
              </div>
              <a href="" class="title-two">Overview</a>
            </div>
            <div class="item">
              <div class="frame">
                <img
                  alt=""
                  class="image-side"
                  src="https://static.overlay-tech.com/assets/dede76e8-0c12-4dfe-ae39-cbcda266d450.png"
                />
              </div>
              <a href="" class="title-two">Documents</a>
            </div>
            <div class="item">
              <div class="frame">
                <img
                  alt=""
                  class="image-side"
                  src="https://static.overlay-tech.com/assets/637c8554-c29e-4de0-a3a0-64ada037ed2a.png"
                />
              </div>
              <a href="" class="title-two">Hearings</a>
            </div>
            <div class="item">
              <div class="frame">
                <img
                  alt=""
                  class="image-side"
                  src="https://static.overlay-tech.com/assets/f4f36032-8995-4333-8013-5219719b5e97.png"
                />
              </div>
              <a href="" class="title-two">Messages</a>
            </div>
          </div>
          <div class="hero">
            <div class="section">
              <div class="hero-container">
                <p class="title-three">
                  Welcome to Pocket Justitia
                </p>
                <p class="description">
                  Manage and track your case hearings
                </p>
                <div class="textfield-two">
                  <p class="text-two">Search for a case</p>
                </div>
                <div class="button">
                  <button class="btn-1">
                    <p class="title-four">View Cases</p>
                  </button>
                  <button class="btn-1">
                    <p class="title-four">New Cases</p>
                  </button>
                </div>
                <div class="tab-group">
                  <button class="btn-2">
                    <p class="title-five">Upcoming</p>
                  </button>
                  <button class="btn-2">
                    <p class="title-five">Ongoing</p>
                  </button>
                  <div class="btn-2">
                    <p class="title-five">Completed</p>
                  </div>
                </div>
              </div>
              <img
                alt=""
                class="vector-200"
                src="https://static.overlay-tech.com/assets/c1474b51-5060-4258-823a-5f151935e4a2.svg"
              />
            </div>
            <div class="section-two">
              <div class="container-two">
                <p class="title-six">Case Management Tools</p>
                <p class="description-two">
                  Explore our range of tools to simplify your case
                  management process
                </p>
                <div class="button">
                  <button class="btn">
                    <p class="title-seven">Get Started</p>
                  </button>
                  <button class="btn-1">
                    <p class="title-four">Learn More</p>
                  </button>
                </div>
                <div class="manage-tools">
                    <div class="ui-card">
                        <img class="service-img"
                        src="{{ url_for('static',filename='appointment-booking-mobile-concept_23-2148570788.avif') }}"
                        >
                        <div class="description">
                            <h3>Case Tracker</h3>
                            <p>
                                302 open cases<br />
                            </p>
                            <a href="#">Explore</a>
                        </div>
                    </div>
                    <div class="ui-card">
                        <img class="service-img"
                        src="{{ url_for('static',filename='19197294.jpg') }}"
                        >
                        <div class="description">
                            <h3>Evidence Library</h3>                            
                            <p>
                                526 documents
                            </p>
                            <a href="#">Explore</a>
                        </div>
                    </div>
                    <div class="ui-card">
                        <img class="service-img" 
                        src="{{ url_for('static',filename='3958832.jpg') }}"
                        >
                        <div class="description">
                            <h3>Calender</h3>
                            <p>Today: 3 hearings</p>
                            <a href="#">Explore</a>
                        </div>
                    </div>
                  </div>
              </div>
              <img
                alt=""
                class="vector-200"
                src="https://static.overlay-tech.com/assets/b95e9cfa-160e-4873-b750-923496274b1c.svg"
              />
            </div>
            <div class="section-two">
              <div class="flex-wrapper-four">
                <div class="container-three">
                  <p class="title-eleven">Upcoming Hearings</p>
                  <p class="description-three">
                    Stay prepared for your next hearings
                  </p>
                  <button class="btn-1">
                    <p class="title-four">View Details</p>
                  </button>
                </div>
                <div class="list-two">
                  <div class="article">
                    <div class="image-three">
                      <img
                        alt=""
                        class="image-20"
                        src="https://static.overlay-tech.com/assets/7fe24736-ecea-44cd-a8c8-c93e2fd15d02.png"
                      />
                    </div>
                    <div class="flex-wrapper-three">
                      <p class="title-twelve">Case 1</p>
                      <p class="subtitle-two">Civil</p>
                      <p class="subtitle-three">
                        Hearing date: October 12, 2023
                      </p>
                      <div class="selection">
                        <div class="label-normal">
                          <p class="label-text">Reminder Set</p>
                        </div>
                      </div>
                      <div class="selection">
                        <div class="avatar-two">
                          <div class="avatar"></div>
                          <p class="title-thirteen">
                            N.Vishwanathan
                          </p>
                        </div>
                        <div class="icon-buttons-two"></div>
                      </div>
                    </div>
                  </div>
                  <div class="article">
                    <div class="image-three">
                      <img
                        alt=""
                        class="image-20"
                        src="https://static.overlay-tech.com/assets/3613ad65-4a5c-40d8-b1eb-4325039459dd.png"
                      />
                    </div>
                    <div class="flex-wrapper-three">
                      <p class="title-twelve">Case 2</p>
                      <p class="subtitle-two">Criminal</p>
                      <p class="subtitle-three">
                        Hearing date: November 15, 2023
                      </p>
                      <div class="user">
                        <div class="avatar-two">
                          <div class="avatar"></div>
                          <p class="title-thirteen">
                            Shashank Jha
                          </p>
                        </div>
                        <div class="icon-buttons-two"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <img
                alt=""
                class="vector-200"
                src="https://static.overlay-tech.com/assets/9133283c-4945-457f-b851-32f7af3ac89a.svg"
              />
            </div>
            <div class="section-three">
              <div class="container-four">
                <p class="title-fourteen">
                  Meet Accused and Defendant
                </p>
                <div class="input">
                  <label for="case-number">Case Number</label>
                  <input type="text" 
                         id="caseNumber"
                         name="Case Number"
                         placeholder="Enter the case number">
                  <label for="case-number">Date</label>
                  <input type="date" 
                         id="meetDate"
                         name="Meet Date"
                        >
                  <label for="case-number">Time</label>
                  <input type="time" 
                         id="meetTime"
                         name="Meet Time">                      
                </div>
                <button class="btn-1">
                  <p class="title-four">Schedule Meeting</p>
                </button>
              </div>
              <img
                alt=""
                class="vector-200-two"
                src="https://static.overlay-tech.com/assets/5a456b06-5d76-4e76-829e-43da9646fa29.svg"
              />
            </div>
            <div class="section-two">
              <div class="flex-wrapper-four">
                <p class="title-sixteen">Client Reviews</p>
                <div class="tab-group">
                  <div class="card-two">
                    <div class="avatar-four">
                      <div class="avatar-three"></div>
                      <p class="title-seventeen">Shashank Jha</p>
                    </div>
                    <p class="title-eighteen">
                      Excellent case management platform!
                    </p>
                    <div class="icon-buttons-three">
                      <p class="icon-two">😃</p>
                    </div>
                  </div>
                  <div class="card-two">
                    <div class="avatar-four">
                      <div class="avatar-three"></div>
                      <p class="title-seventeen">M.S. Dhoni</p>
                    </div>
                    <p class="title-eighteen">
                      Highly recommended for professionals
                    </p>
                    <div class="icon-buttons-three">
                      <p class="icon-two">😃</p>
                    </div>
                  </div>
                </div>
              </div>
              <img
                alt=""
                class="vector-200"
                src="https://static.overlay-tech.com/assets/364ef557-5c20-4b76-aa08-4708c0e86c5e.svg"
              />
            </div>
            <div class="section-two">
              <div class="flex-wrapper-four">
                <p class="title-sixteen">Recent Documents</p>
                <div class="list-three">
                  <div class="document-item">
                    <div class="frame-five">
                      <img
                        alt=""
                        class="image-19"
                        src="https://static.overlay-tech.com/assets/ca781716-98de-421f-97c2-a48389ee915f.png"
                      />
                    </div>
                    <div class="document-article">
                      <p class="title-nineteen">Document 1</p>
                      <p class="subtitle-four">Civil</p>
                    </div>
                    <p class="subtitle-five">March 10, 2023</p>
                  </div>
                  <div class="document-item">
                    <div class="frame-six">
                      <img
                        alt=""
                        class="image-19"
                        src="https://static.overlay-tech.com/assets/c8a35613-4398-4735-9c1a-ec89197eaa82.png"
                      />
                    </div>
                    <div class="document-article">
                      <p class="title-nineteen">Document 2</p>
                      <p class="subtitle-four">Criminal</p>
                    </div>
                    <p class="subtitle-five">March 9, 2023</p>
                  </div>
                </div>
              </div>
              <img
                alt=""
                class="vector-200"
                src="https://static.overlay-tech.com/assets/aba97446-7c04-4367-8184-76e1abd067f0.svg"
              />
            </div>
            <div class="section-four">
              <div class="flex-wrapper-seven">
                <div class="avatar-five">
                  <img
                    alt=""
                    class="image-17"
                    src="https://static.overlay-tech.com/assets/6b70faa8-45ef-4662-aa83-a60c03b7764c.png"
                  />
                </div>
                <div class="container-five">
                  <p class="title-twenty">Shashank Jha</p>
                  <div class="selection-two">
                    <div class="label-normal-two">
                      <p class="label-text">Lawyer</p>
                    </div>
                    <div class="label-normal-two">
                      <p class="label-text">Case Manager</p>
                    </div>
                  </div>
                  <p class="description-four">
                    Experienced in handling various case types
                  </p>
                </div>
                <div class="flex-wrapper-three">
                  <button class="btn-3">
                    <p class="title-four">Logout</p>
                  </button>
                  <div class="btn-1">
                    <p class="title-four">View Profile</p>
                  </div>
                </div>
              </div>
              <img
                alt=""
                class="vector-200"
                src="https://static.overlay-tech.com/assets/3cfc9c9b-14bf-433c-aa3f-4f151822a831.svg"
              />
            </div>
            <div class="section-two">
              <div class="flex-wrapper-eight">
                <div class="image-container">
                  <!-- <div class="image-four">
                    <img
                      alt=""
                      class="image-18"
                      src="https://static.overlay-tech.com/assets/635f6c32-7991-4072-abeb-c0583fc182db.png"
                    />
                  </div> -->
                </div>
                <div class="flex-wrapper-three">
                  <p class="title-eleven">Create New Case</p>
                  <div class="input-three">
                    <label for="case-name">Case Name</label>
                    <input type="text" 
                         id="caseName"
                         name="Case Name"
                         placeholder="Enter the case name">
                    <p class="info">Max 100 characters</p>
                  </div>
                  <div class="selection-three">
                    <p class="title-fifteen">Case Type</p>
                    <div class="chip-group">
                      <button class="btn">
                        <p class="text-four">Civil</p>
                      </button>
                      <button class="btn">
                        <p class="text-four">Criminal</p>
                      </button>
                      <button class="btn">
                        <p class="text-four">Family</p>
                      </button>
                    </div>
                  </div>
                  <div class="selection-three">
                    <p class="title-fifteen">File in</p>
                    <div class="chip-group">
                      <button class="btn">
                        <p class="text-four">Supreme Court</p>
                      </button>
                      <button class="btn">
                        <p class="text-four">High Court</p>
                      </button>
                      <button class="btn">
                        <p class="text-four">District Court</p>
                      </button>
                    </div>
                  </div>
                  <button class="btn-1">
                    <p class="title-four">Create Case</p>
                  </button>
                </div>
              </div>
              <img
                alt=""
                class="vector-200"
                src="https://static.overlay-tech.com/assets/22f5ec6b-0a5e-4cb4-b192-5880343168a2.svg"
              />
            </div>
            <div class="section-two">
              <div class="container-two">
                <p class="title-six">Case Metrics</p>
                <div class="list-four">
                  <div class="metric">
                    <p class="title-twenty-one">Total Cases</p>
                    <p class="data">512</p>
                    <p class="change">&#43;10%</p>
                  </div>
                  <div class="metric">
                    <p class="title-twenty-one">Open Cases</p>
                    <p class="data">120</p>
                    <p class="change-two">-5%</p>
                  </div>
                  <div class="metric">
                    <p class="title-twenty-one">Closed Cases</p>
                    <p class="data">392</p>
                    <p class="change-three">&#43;3%</p>
                  </div>
                </div>
              </div>
              <img
                alt=""
                class="vector-200"
                src="https://static.overlay-tech.com/assets/04d47525-fef8-4d9e-ba1d-ec5fc11e66c5.svg"
              />
            </div>
          </div>
        </div>
        <footer>
            <div class="footer-container container-1">
                <div class="footer-logo">
                    <img src="images/logo.png" alt="logo">
                </div>
                <div class="link-lists">
                    <h3>Info</h3>
                    <ul>
                        <li>Forms</li>
                        <li>Recruitment</li>
                        <li>Management Tools</li>
                        <li>Associations</li>
                    </ul>
                </div>
                <div class="link-lists">
                    <h3>Explore</h3>
                    <ul>
                        <li>Services</li>
                        <li>Newsletter</li>
                        <li>Site Map</li>
                        <li>Help Videos</li>
                        <li>Manuals</li>
                    </ul>
                </div>
                <div class="link-lists">
                    <h3>Legal</h3>
                    <ul>
                        <li>Terms and Conditions</li>
                        <li>Copyright Policy</li>
                        <li>Privacy Policy</li>
                        <li>Screen Reader Access</li>
                        <li>Disclaimer</li>
                    </ul>
                </div>
            </div>
        </footer>
      </div>
</body>
</html>